*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #e76f51;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
}

.logo{
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    font-family: courier;
}

.navbar a{
    font-size: 18px;
    color: #e9c46a;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
}

.navbar a.active,
.navbar a:hover{
    font-weight: bolder;
    color: white;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    justify-content: space-between;
}

.home-content{
    max-width: 800px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 600;
    line-height: 1.2;
}

.home-content h3{
    font-size: 26px;
    font-weight: 600;
}

.home-content p{
    font-size: 18px;
    margin: 20px 0 40px;
}

.btn {
    position: relative;
    width: 180px;
    height: 48px;
    display: inline-flex;
    background:#2a9d8f;
    border-radius: 40px;
    font-size: 19px;
    color: #f2e9e4;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home-sci a{
    display: flex;
    width: 40px;
    height: 40px;
    background: #2a9d8f;
    border-radius: 50%;
    color: white; 
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    z-index: 1;
}

.home-sci a:hover,
.btn:hover{
    background: white;
    color: #264653;
}

.home-img{
    border-radius: 50%;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group label{
    font-weight: bold;
}

.form-group ,input[type=text],input[type=email],input[type=password]{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}